#!/bin/bash
ansible-playbook -i ~/hosts \
    /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster\
/openshift-metrics.yml \
   -e openshift_metrics_image_version=v3.7 \
   -e openshift_metrics_heapster_requests_memory=300M \
   -e openshift_metrics_hawkular_requests_memory=750M \
   -e openshift_metrics_cassandra_requests_memory=750M \
   -e openshift_metrics_install_metrics=True

